<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content=""IE=edge" />
        <title>몸과 마음 공지사항</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/notion.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <h1>몸과 마음 공지사항</h1>
        <span>여기에 대충 아무내용</span>
        <button class="back_button" onclick="location.href='https://csgpu.kku.ac.kr:5050/notion_list'"></button>
    </body>
</html> 